@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Bold.woff") format("woff");
}

html,
body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  min-width: 430px;
  border: 2px dashed #c7e4ff;
}

html::before,
body::before,
header::before,
footer::before,
main::before {
  color: #7fc1ff;
}

main,
header,
footer {
  background-color: #f3faff;
  border: 2px solid #7fc1ff;
}

nav,
section,
article,
aside {
  background-color: #f9f7ff;
  border: 2px solid #9779ec;
}

nav::before,
section::before,
article::before,
aside::before {
  color: #9779ec;
}

h1 {
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #ff994f;
}

h1::before {
  content: "h1";
  color: #ff994f;
}

p {
  background-color: #ffffff;
  border: 2px solid #f36dff;
}

p::before {
  color: #f36dff;
  content: "p";
}

* {
  position: relative;

  margin: 0;
  border-radius: 4px;
}

*:not(:last-child) {
  margin-bottom: 20px;
}

*::before {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.04em;
}

html::before {
  content: "html";
}

body::before {
  content: "body";
}

main::before {
  content: "main";
}

header::before {
  content: "header";
}

footer::before {
  content: "footer";
}

section::before {
  content: "section";
}

article::before {
  content: "article";
}

aside::before {
  content: "aside";
}

nav::before {
  content: "nav";
}
@media screen and (min-width: 1200px) {
  .page {
    width: 1200px;
  }
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.page-header {
  height: 64px;
}
.color-blue {
  background: #82b3d3;
}
.color-white {
  background: rgba(131, 179, 211, 0.12);
}
.color-grey {
  background: rgba(131, 179, 211, 0.2);
}
.background-welcome {
  /* width: 282px; */
  height: 214px;
}

.main {
  /* width: 400px; */
  height: 385px;
}
.images {
  /* width: 800px; */
}

ul {
  list-style: none;
}
.catalog-image {
  width: 300px;
  height: 212px;
}
.main-header-background {
  background: url(assets/sedona-background.jpg);
  height: 485px;
  width: 1200px;
}
.item-rating-list li {
  background-image: url(assets/rating-icon.svg);
  width: 18px;
  height: 17px;
}
